@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');

*{
    font-family: 'Josefin Sans';
}

a{
    text-decoration: none;
}

header{
    padding: 10px 8%;
}

.maindiv:hover{
    box-shadow: rgba(0, 0, 0, 0.686) 5px 5px 2.6px;
}